html {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #D5CEA3;
}

h1 {
   text-align: center;
   color: #1A120B;
   margin-bottom: -3rem;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    margin: auto;
    margin-top: 30vh;
}

.button {
    width: 7rem;
    height: 7rem;
    background-color: #3C2A21;
    color: #E5E5CB;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#resetBtn,
#scorePlayerDisplay, 
#scoreComputerDisplay {
    width: 7rem;
    height: 7rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    color: #1A120B;
}

#resetBtn {
    background-color: #1A120B;
    border-radius: 100px;
    padding: 10px;
    color: #E5E5CB;
}

.gap {
    gap: 3rem;
}

.computerSelectionDisplay {
    margin-top: 3rem;
}

#resultDiv {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: auto;
}

.hide {
    display: none;
}

h2 {
    font-size: 4rem;
    padding: 10px;
}