body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: auto;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
}

.button {
    width: 7rem;
    height: 7rem;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}